* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main-container {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aqua; */
}

nav ul {
  height: 100%;
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-family: 'Belanosima', sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: rgb(57, 54, 54);
  font-family: 'Belanosima', sans-serif;
}

nav ul li a:hover {
  color: rgb(226, 8, 8);
}

.topic-name {
  font-family: 'Caprasimo', cursive;
}

main {
  padding-block: 20px;
  /* margin-top: 50px; */
}

.cards-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  align-items: start;
  /* background-color: aqua; */
  padding: 18px;
  padding-right: 25px;
  padding-left: 25px;
}

.cards {
  width: 350px;
  min-height: 400px;
  box-shadow: 0 0 4px #d4ecff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
  font-family: 'Bacasime Antique', serif;
  font-size: 18px;
}

.cards:hover {
  box-shadow: 1px 1px 8px #b63643;
  background-color: #f9fdff;
  transform: translateY(-2px);
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

#news-source {
  margin-block: 12px;
}

.home-newsletter {
  width: 100%;
  padding: 80px 0;
  background: #312f2f;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}

.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #4d4f51;
  color: #fff;
}

footer{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
}

.footer-section{
  font-size: 20px;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

footer a{
  text-decoration: none;
  color: #243c4f;
}
footer a:hover{
  color: red;
}
footer p{
  font-family:'Times New Roman', Times, serif;
  
}